<div id="feeds">
  <%= form_tag action: :subscribe do %>
  <p>
    <%= text_field_tag :feed_url, 'http://daringfireball.net/index.xml' %>
    <%= submit_tag 'add' %>
  </p>
  <% end -%>
  <ul>
    <% @feeds.each do |feed| -%>
    <li class="feed"><%= link_to feed.title, feed %></li>
    <% end -%>
  </ul>
</div>
