<h1><%= @feed.title %></h1>
<% if @feed.refreshing? -%>
  <p>Refreshing...</p>
<% else -%>
  <p><%= link_to(feed_refresh_text(@feed), action: :refresh) %></p>
<% end -%>

<ul>
  <% @feed.items.each do |item| -%>
  <li><%= link_to item.title, item %></li>
  <% end -%>
</ul>
