<div id="feeds">
  <ul>
    <li class="feed"><%= link_to @item.feed.title, feeds_path %></li>
  </ul>
</div>

<div id="items">
  <ul>
    <li class="feed-item"><%= link_to @item.title, @item.feed %></li>
  </ul>
</div>

<div id="item">
  <p>Published: <%= link_to format_time(@item.created_at), @item.url %></p>
  <article id="item-content">
    <%= @item.content.html_safe %>
  </article>
</div>
