<header id="feed-header">
  <ul>
    <li class="feed"><%= link_to @item.feed.title, feeds_path %></li>
  </ul>
</header>

<header id="item-header">
  <ul>
    <li class="feed-item"><%= link_to @item.title, @item.feed %></li>
  </ul>
</header>

<article>
  <p>Published: <%= link_to @item.created_at, @item.url %></p>
  <div id="content">
    <%= @item.content.html_safe %>
  </div>
</article>
